[submodule "dace"]
	path = dace
	url = git@github.com:spcl/dace.git
[submodule "neko"]
	path = neko
	url = git@github.com:ExtremeFLOW/neko.git
	branch = daceneko
[submodule "json-fortran"]
	path = json-fortran
	url = git@github.com:ExtremeFLOW/json-fortran.git
